ul {
  margin-left: 0em;   /* default is around 2em */
  padding-left: 1.2em;
}
ul ul {
  margin-left: 0.5em; /* nested lists */
  padding-left: 0.5em;
}

a {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline; /* optional: keep underline on hover */
}

table {
  table-layout: fixed;
  width: 100%;
}

table th:nth-child(1),
table td:nth-child(1) { width: 7%; }

table th:nth-child(2),
table td:nth-child(2) { width: 12%; }

table th:nth-child(3),
table td:nth-child(3) { width: 20%; }

table th:nth-child(4),
table td:nth-child(4) { width: 15%; }

table th:nth-child(5),
table td:nth-child(5) { width: 10%; }
